// Color cube
$white: #ffffff;
$cod-gray-black: #111110;
$emperor-gray: #505050;
$silver-chalice-gray: #b0b0b0;
$thunderbird-red: #ae1827;
$drifgtwood-brown: #ae8652;
$fun-blue: #1a50ae;
$havelock-light-blue: #509ae1;
$pizazz-orange: #fb8d05;
$goldenrod-yellow: #ffcf6a;

// Median cut
$ebb-light-gray: #eae8e6;
$cod-gray-light-black: #191817;
$flint-gray: #69625c;
$gunsmoke: #88928f;
$kashmir-blue: #4f659a;

// Material design
$medium-carmine-red: #ac4238;
$teak-brown: #ae8d67;
$pickled-bean-dark-brown: #65401e;
$mine-shaft-dark-gray: #353333;
$stark-white-beige: #e9dac4;

// Common
$text-primary: #ffffff;
$text-secondary: #ae8d67;
$text-hover: #ae8d67;
$text-details: #69625c;

// Header
$header-bg: #111110;
$header-height: 150px;
$header-active-height: 100px;